.ContentToggle__Summary {
  cursor: pointer;
  border-bottom: solid 1px transparent;
}

.ContentToggle__Summary:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.ContentToggle__Summary--open:before {
  content: '▾';
}

button {
  padding: 1em 3em;
  border-radius: 3px;
  border: #777 1px solid;
  background: transparent;
  margin: 1em;
}

